body {
  width: 100%;
  overflow-x: hidden !important;
}

.navbtn {
  background-color: #964B00;
  color: #fff;
  border: none;
  padding: 12px 14px;
  border-radius: 12px;
  
}

.home-card {
  position: relative; /* Ensure it has a positioning context */
  z-index: 9; /* Make sure it's higher than the background image */
  margin-top: -50px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.2) !important; /* Horizontal offset, vertical offset, blur radius, spread radius, and color */
  border-radius: 12px; 
  padding: 20px; 
  background-color: white; 
  padding: 30px 50px !important;
}
.home h1 {
  font-size: 50px;
}

.bor {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.2) !important; 
}


.bor:hover {
  background-color: #964B00;
  color: #fff;
}

.box {
  width: 40% !important;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.2) !important; 
              margin-left: 20px !important;
              margin-bottom: 30px;
}

.box2 {
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
  0 6px 20px rgba(0, 0, 0, 0.2) !important; 
  margin-left: 20px !important;
  margin-bottom: 30px;
}


/*About Us*/

.about {
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(to right, #964B00, rgba(0, 0, 0, 0.1)), url("./asserts/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.about p {
  padding: 12px;
} 


.carrer {
  width: 100%;
  height: 55vh;
  background-image: linear-gradient(to right, #964B00, rgba(0, 0, 0, 0.1)), url("./asserts/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.carrer p{
  padding: 12px;
}
.dropdown-item ,a.nav-link{
  padding:8px 14px !important;
  font-weight: 500 !important;
  color: #5F6368 !important;
}

/* starts here ********************************* */
.autocare p,.p{
  font-size: 20px !important;
      color: #75799b !important;
      text-align: justify;
}
.list-item li{
  font-size:20px;
  color: #75799b !important;
  margin-bottom: 15px;
}
table{
  caption-side: bottom;
border-collapse: collapse;
width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
td{
  font-size: 19px;
}



.custom-btn-group {
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(32, 33, 36, 0.15), 0 1px 8px rgba(32, 33, 36, 0.08);
  font-weight: bold;
  margin: 0 5px;
 justify-content: center;
 align-items: center;
}


.nav-link:hover {
  border-radius: 25px;
  background-color: #f1f3f4;
}


.nav-link.active1 {
  border-radius: 25px;
  background-color: #f1f3f4;
  margin: 5px;
}


.nav-link {
  border-bottom: 3px solid #964B00;
}

.tab-pane.show.active1 {
  display: block;
}

.design{
  border-bottom: 3px solid #964B00 !important;
}



.card-boxes div .card{
  
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
border-radius: 6px;
height: 500px !important;
margin-bottom: 10px;
}

.dropdown-menu {
  display: none;
}

/* Show the dropdown when the parent is hovered */
.nav-item:hover > .dropdown-menu,
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
}


.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #964B00;
  cursor: pointer;
}


.arrow:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #964B00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.arrow.next {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.prev {
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  z-index: 1;
}

.done{
  z-index:  99999999 !important;
}
/* .video{
  height: 800px !important;
  width: 100% !important;
} */

.videoplayer{
  width: 100% !important;
  position: relative;
}
.video{
  overflow-x: hidden !important;
}
.sec{
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%;
  color: white;
}
.box-containe{
  border-radius: 12px;
background: #e0e0e0;
box-shadow:  5px 5px 10px #c3c3c3,
             -5px -5px 10px #fdfdfd;
  margin-top: 150px !important;
}


.grid-container-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: start;
}

.grid-items-home {
  height: 480px;
  background: #f9f9f9; /* Optional: Add background for better visibility */
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  transition: transform 0.3s;
}

.grid-items-home:hover {
  transform: scale(1.05); /* Optional: Add scale effect on hover */
}




.grid-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px; /* Adjust the gap between grid items as needed */
}

.grid-item1 {
  background: #FFF; /* Add any background color or styling */
  border: 1px solid #ddd; /* Optional: add border for better visualization */
  border-radius: 8px; /* Optional: add border radius for rounded corners */
  text-align: left; /* Center-align text within the grid item */
}

.grid-item-text{
  text-decoration: none;
  
  padding: 2px;
  margin-top: 8px; /* Add margin to space out the title from the image */
  color: #333; /* Optional: add color styling for the title */
}

.img-data{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.img-dat{
  width: 100%;
  height:auto;
  object-fit: cover;
}

/* Naveen  */

@media (max-width: 700px) {
  .videoplayer{
      width: 350% !important;
      
    }
    .row-data{
      display: grid !important;
      gap: 10px;
    }
    .sec{
      top: -150px;
    }
    
}

.blogsContainer {
padding: 20px;
}

.blog {
padding: 10px;
box-sizing: border-box;
}

.blogContent {
padding: 10px;
}

.arrow {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
z-index: 2;
}

.next {
right: -25px;
}

.prev {
right: 70px !important;
bottom: -40px !important;
}

@media (max-width: 1024px) {
.next {
  right: -15px;
}

.prev {
  left: -15px;
}
}

@media (max-width: 600px) {
.next {
  right: -10px;
}

.prev {
  left:-10px;
}
}
.about-data{
  position: absolute;
 text-align: center;
 justify-content: center;
  bottom: 200px !important;
}



.video-container {
  position: relative;
  width: 100%;           /* Full width of the container */
  height: 56vh;          /* Height set to 56vh */
  overflow: hidden;      /* Hide overflow */
}

.embed-responsive-item {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Use cover to fill the container */
  position: absolute;     /* Allow for absolute positioning */
  top: 0;                 /* Align to the top */
  left: 0;                /* Align to the left */
}


/* Adjust height for mobile devices */
@media (max-width: 576px) {
  .video-container {
    height: 26vh; /* Increase this value as needed for mobile */
  }
  .embed-responsive-item{
    height: 26vh;
    object-fit: contain;
  }
}

/* Adjust height for tablet devices */
@media (min-width: 577px) and (max-width: 992px) {
  .video-container {
    height: 35vh; /* Increase this value as needed for tablets */
  }
  .embed-responsive-item{
    height: 35vh;
    object-fit: contain;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
 color: #964b00;
}
.loader:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}

.loaderbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img-datas{
  object-fit: cover;
  height: 100px;
  border-radius: 10px !important;
  margin-bottom: 10px;
}
.img-data{
  object-fit: cover;
}


.video {
  position: relative;
  width: 100%;
  height: auto;
}

.videoplayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), /* Shadow with blur and spread */
              0 6px 10px rgba(0, 0, 0, 0.3); /* Secondary subtle shadow */
}

.title {
  color: #FFF;
  font-weight: 500;
  margin: 0; /* Remove default margin */
}

.subtitle {
  color: #FFF;
  font-weight: 700;
  font-size: 35px;
  margin: 10px 0 0 0; /* Adjust margin as needed */
}

.grid_clients{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  place-items: center;
}
.client_item{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* my css */
.menu ul{
  margin-top: 120px !important;
}
.menu ul li {
  border-radius: 10px;
  background: #f6f2f2;
  box-shadow:  5px 5px 20px #bcbcbc,
               -5px -5px 20px #ffffff;
               padding: 5px 30px;
               margin-bottom:35px !important;

}
.menu ul li:hover{
  background-color: red;
}
.menubar{
align-items: flex-start !important;
position: sticky !important;
top: 0px !important;
display: flex !important;
height: 100vh;

}
.dashboard-contain{
  width: 80% !important;
  margin-left: 20% !important;
}
.toggle-btn{
  border-radius: 10px;
  background: #f6f2f2;
  box-shadow:  5px 5px 20px #bcbcbc,
               -5px -5px 20px #ffffff;
               padding: 5px 30px;
               margin-bottom:35px !important;

}
.apply div span{
  font-size: 18px !important;

}
.apply div{
  margin-bottom:10px !important; 

}
.apply{
  border-radius: 22px;
background: #ffffff;
box-shadow:  5px 5px 10px #efebeb,
             -5px -5px 10px #ffffff; 
             height: 350px;
             overflow: scroll;
             overflow-x: hidden;
}
.offcanvas-nav{
  display: none !important;
}
table{
  overflow-x: scroll !important;
  width: 100% !important;
}
.row div{
  overflow-x: hidden  !important;
}
.col-md-6{
  overflow-x: hidden  !important;
}
video .videoplayer{
  width: 100px !important;
}

img.blog-img{
  width: 95% !important;
  height: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listitem{
  height: 200px;
}
.off-head{
  height: 60px;
}